
@{
    ViewBag.Title = "Painel Administrativo";
}

<h2>Painel Administrativo</h2>

<ul>
    <li>@Html.ActionLink("Visualizar Sugestões de Evento", "Index","Sugestoes")</li>
    <li>@Html.ActionLink("Gerenciar Categorias", "Index","Administrador")</li>
    <li>@Html.ActionLink("Gerenciar Disciplinas", "Index", "Disciplinas")</li>
</ul>