@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>utEventos</h1>
    <p class="lead">Sistema de controle de eventos para a disciplina de Desenvovimento Integrado de Sistemas, da UTFPR.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Início</h2>
        <p>
            Página de entrada
        </p>
    </div>
</div>
